
  
  .form {
    width: 100%;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(113, 113, 113);
    background: radial-gradient(
      circle,
      rgba(113, 113, 113) 0%,
      rgba( 169, 169, 169) 84%,
      rgba( 226, 226, 226) 100%
    );
    
  }
  
  .form-container {
    width: 400px;
    height: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
  }
  
  .form-container .header {
    flex: 20%;
    display: grid;
    place-items: center;
  }
  
  .form-container .body {
    flex: 60%;
  }
  
  .form-container .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
  }
  
  .form-container .footer button {
    border-radius: 7px;
    width: 100px;
    height: 40px;
    background-color: rgb(113, 113, 113);
    font-weight: bold;
    color: white;
    border: 3px solid rgb(113, 113, 113);
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    margin: 5px;
    transition: .7s;
  }
  
  .sign-up-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .sign-up-container input {
    margin: 5px;
    width: 200px;
    height: 40px;
    padding-left: 5px;
    font-size: 20px;
  }
  
  .personal-info-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .personal-info-container input {
    margin: 5px;
    width: 200px;
    height: 40px;
    padding-left: 5px;
    font-size: 20px;
  }
  
  /* PROGRESS BAR */
  .progressbar {
    width: 400px;
    height: 10px;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 20px;
  }
  
  .progressbar div {
    width: 33.3%;
    height: 100%;
    background-color: rgb( 21, 24, 21);
    border-radius: 20px;
  }
  
  .other-info-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .other-info-container input {
    margin: 5px;
    width: 200px;
    height: 40px;
    padding-left: 5px;
    font-size: 20px;
  }
  
  input {
    border: 2px solid rgb( 21, 24, 21);
    border-radius: 5px;
  }
  
  input:focus {
    border: 3px solid rgb( 21, 24, 21);
  }
 
  .add{
    border-radius: 7px;
    width: 75px;
    height: 40px;
    background-color: rgb( 21, 24, 21);
    font-size: 13px;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    margin: 5px;
    border: 3px solid rgb( 21, 24, 21);
    transition: .7s;
  }
  .add:hover{
    background-color: white;
    color: rgb( 21, 24, 21);
  }
.labelOtherInfo{
  font-size: 18px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-container .footer button:hover{
  background-color: white;
  color: rgb(113, 113, 113);;
}
.buttonTrash{
  border: none;
  background: none;
  font-size: 30px;
  cursor: pointer;
  margin-right: 0;
  color: black;
}
.buttonTrash:hover{
  background-color: black;
  color: white;
  
}
.options{
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 
.label{
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.list{
  font-size: 18px;
  font-weight: 500;
  list-style: circle;
}
@media screen and (max-width:450px) {
    .form-container{
        width: 95%;
        height: auto;
    }
    .progressbar{
        width: 90%;
    }
    .options{
      width: 50vw;
      justify-content: space-between;
      
    }
  }